section {
    display: table;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(194, 189, 189);
	text-align: center
    
}
.Profil {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
    position: fixed;
    bottom: 10%;
    right:5%;
    background-color: white;
    justify-content: center;
    width:90%;
    height: 80%;
    border-radius: 7%;
    box-shadow: 10px 10px 5px lightblue;
}
.prenom{
    position:absolute;
    bottom: 90%;
    right:50%;
}
.valider{
    position: absolute;
    bottom: 10%;
    right:5%;
}
.apercu{
    position: absolute;
    bottom:10%;
    right:90%;
}
::ng-deep {
    ngx-slider.slider1 {
        position: absolute;
        width: 50%;
        right: 20%;
        bottom: 46%;
        .ngx-slider-bar {
            background: #803369 !important;
        }
        .ngx-slider-pointer {
            background: #9c668c !important;
        }

    }
}
::ng-deep {
    ngx-slider.slider2 {
        position: absolute;
        width: 50%;
        right: 20%;
        bottom: 36%;
        .ngx-slider-bar {
            background: #803369 !important;
        }
        .ngx-slider-pointer {
            background: #9c668c !important;
        }
    }
}
p.genre{
    position: absolute;
    right: 75%;
    bottom: 65%;
    font-size:larger ;
}
.choixGenre{
    position: absolute;
    bottom:68%;
    right: 30%;
}
.mat-radio-button {
	margin-right: 60px;
    color: #803369;

}

p.orientation{
    position: absolute;
    right: 75%;
    bottom: 55%;
    font-size:larger ;
}
.mat-checkbox {
	margin-right: 60px;
    color: #803369;
}
.homme{
    position: absolute;
    bottom: 57%;
    right:49%;
}
.femme{
    position: absolute;
    bottom: 57%;
    right:39%;
}
.autre{
    position: absolute;
    bottom: 57%;
    right:30%;

}

p.rayon{
    position: absolute;
    right: 75%;
    bottom: 45%;
    font-size:larger ;
}
p.age{
    position: absolute;
    right: 75%;
    bottom: 35%;
    font-size:larger ;
}
p.description{
    position: absolute;
    right:75%;
    bottom:25%;
    font-size:larger ;

}
.textfield{
    position: absolute;
    bottom:23%;
    right:30%;
    width: 30%;
}