<html lang="en">
  
  <body>
    <form  #descriptionForm="ngForm" (ngSubmit)="Enregistrer(descriptionForm);">
        <div class="Profil">
            <div class="block">
                <div class="box"><h2 class="prenom">Prénom, âge</h2></div>
            </div>
            <div class="block">
            
                <div class="box"><p class="genre" style="color:rgb(158, 70, 84);">Genre:</p></div>
                        <div class="box"><mat-radio-group class="choixGenre">
                            <mat-radio-button value="1" ngModel name="Homme" value="Homme">Homme</mat-radio-button>
                            <mat-radio-button value="2">Femme</mat-radio-button>
                            <mat-radio-button value="3">Autre</mat-radio-button>
                        </mat-radio-group></div>
                </div>
            <div class="block">
                <div class="box"><p class="orientation" style="color:rgb(158, 70, 84);">Orientation sexuelle:</p></div>
                <div class="box">
                    <mat-checkbox class="homme">Homme</mat-checkbox>
                    <mat-checkbox class="femme">Femme</mat-checkbox>
                    <mat-checkbox class="autre">Autre</mat-checkbox>
                </div>
            </div>
            <div class="block">
                <div class="box"><p class="rayon" style="color:rgb(158, 70, 84);">Rayon de recherche:</p></div>
                <div class="box"><ngx-slider class="slider1" [(value)]="value" [options]="options"></ngx-slider></div>
            </div>
            <div class="block">
                <div class="box"><p class="age" style="color:rgb(158, 70, 84);">Tranche d'âge:</p></div>
                <div class="box">
                    <ngx-slider
                    class="slider2"
                    [(value)]="minValue"
                    [(highValue)]="maxValue"
                    [options]="Options"
                ></ngx-slider>
                </div>
            </div>
            <div class="block">
                <div class="box"><p class="description" style="color:rgb(158, 70, 84);">Description:</p></div>
                <div class="box">
                    <mat-form-field class="textfield" >
                        <textarea matInput style="color:rgb(158, 70, 84)" ngModel name="Description"></textarea>
                    </mat-form-field>
                
                </div>
            </div>
                
         
            
            <!-- <button mat-raised-button color="accent" class="valider" (click)="Enregistrer()">Valider</button> -->
            <div class="block">
                <!-- <div class="box-11"><button mat-raised-button color="accent" class="valider" type="submit">Valider</button></div> -->
                <div class="box"><button mat-raised-button color="accent" class="valider" (click)="Enregistrer(descriptionForm)">Valider</button></div>
            
            
                 <div class="box">
                    <router-outlet></router-outlet>
                     <button mat-raised-button color="accent" class="apercu" [routerLink]="['/pageApercu']">Aperçu</button></div>
             </div>
        </div>
    </form>
  </body>
  
  </html>
