.matching-card {
  //box-shadow: lightgray 4px 4px 20px;

  .material-icons.color_green { color: #00c300; }
  .material-icons.color_red { color: #FF0000; }
  .mat-yes {
    background-color: green;
    color: #fff;
  }
  .mat-no {
    background-color: red;
    color: #fff;
  }
}
//.container {
  //margin: 10px;
//}

mat-form-field {
  width: 100%;
}

.item {
  border-radius: .2em;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 2em;
  padding: 4em 1em;
  text-transform: uppercase;
}

mat-card-content {
  margin-top: 10px
}

mat-card {
  padding-bottom: 30px;
}

mat-card-actions {
  width: 100%;
  padding: 0 5vw;
}

.image-container {
  width: 90vw;
  height: 90vw;
  position: relative;
}

.strong {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 600px) {
  .image-container {
    width: 50vw;
    height: 50vw;
  }
}

@media (min-width: 960px) {
  .image-container {
    width: 40vw;
    height: 40vw;
  }
}

@media (min-width: 1280px) {
  .image-container {
    width: 30vw;
    height: 30vw;
  }
}

.image-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.left-button {
  position: absolute;
  bottom: 40%;
  left: 1%;
}

.right-button {
  position: absolute;
  bottom: 40%;
  right: 1%;
}

.description-wrapper {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  resize: none;
  border: 1px solid #34c6bb;
  border-radius: 3px;
}

.wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.spacer {
  margin-bottom: 19px;
  height: 1px;
}

.border {
  border: 1px solid #e70a7c;
}

@media (min-width: 600px) {
  .border {
    border-width: 2px;
  }
}
