<div class="matching-card" fxLayoutAlign="center">
  <mat-card class="example-card">

    <div class="image-container">
      <img *ngFor="let link of user.photos; let i = index" [hidden]="selectedPhotoIdx != i"
           [src]="apiUrl+'images/'+link"
           alt="Photo {{i}}">
      <button (click)="onNextPhoto()" class="left-button" color="white" mat-fab>
        <mat-icon>arrow_right</mat-icon>
      </button>
      <button (click)="onPreviousPhoto()" class="right-button" color="white" mat-fab>
        <mat-icon>arrow_left</mat-icon>
      </button>
    </div>


    <mat-card-content>
      <p fxLayoutAlign="center" style="font-size : 2rem"><strong>{{user.firstName}}, {{user.age}} ans</strong></p>
      <div class="description-container">{{user.description}}</div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center" fxLayoutGap="260px">
      <div>
        <button (click)="onReject()" color="no" mat-fab>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="onAccept()" color="yes" mat-fab>
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </mat-card-actions>

  </mat-card>
</div>
