<mat-toolbar fxLayoutAlign="space-between center">
  <div class="left-container">
    <mat-menu #matchs>
      <div fxLayout="spacer" *ngFor="let folder of folders"> 
          <img mat-menu-item style="margin-bottom:10px; width:72px;height:60px;border-radius: 50%" 
          [src]='folder.imageUrl'>
          <span mat-menu-item>{{folder.age}}</span>
          <span mat-menu-item>{{folder.name}}</span>
      </div>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="matchs"><mat-icon>diversity_1</mat-icon></button>  
  </div>
  <div class="center-container"><img src="../assets/images/logo.jpg" alt="logo"/></div>
  <div class="right-container">
    <mat-menu #settings="matMenu">
      <div fxLayout="column">
        <button mat-menu-item><mat-icon>manage_accounts</mat-icon><span>Mon profil</span></button>
        <button mat-menu-item><mat-icon>exit_to_app</mat-icon>Me déconnecter</button>
      </div>   
    </mat-menu>
    <button mat-icon-button
    [matMenuTriggerFor]="settings"><mat-icon>account_circle</mat-icon></button>   
  </div>
</mat-toolbar>