.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  padding-top: 10px;
  height: 75px;
  background-color: #d3358c;
}

.left-container, .right-container {
  .mat-icon {
    width: 50px;
    height: 30px;
    font-size: 45px;

  }
}

.center-container {
  img {
    margin-top: 10px;;
    width: 150px;
    height: 70px;
  }
}

.mat-icon {
  color: black;
}







