<body>
	<p></p>

	<img alt="Logo" class="image" src="../assets/images/pink_logo.png">

	<h1></h1>

	<div>
		<mat-card>
			<p>A la recherche de l'âme soeur, d'un peu d'affection, ou juste envie de t'amuser ?</p>
			<p>In'ça Swipe est fait pour toi !</p>
			<p>Swipe à gauche pour passer ton chemin, swipe à droite pour tenter d'aller matcher !</p>
			<p>Découvre ou redécouvre les INSAliens ! </p>
		</mat-card>
		<p></p>
		<mat-card>
			<button mat-raised-button  (click)="loginWithGoogle()" class="google-login-btn" mat-raised-button>
			<img src="../../assets/images/logoGoogle.png" alt="logo Google" height="30px">
				Connexion avec Google
			</button>
		</mat-card>
	</div>

</body>

