<body>
	<p></p>

	<img alt="Logo" class="image" src="../assets/images/pink_logo.png">

	<h1></h1>

	<div>
		<mat-card>
			<p>
				A la recherche de l'âme soeur, d'un peu d'affection, ou juste envie de t'amuser ?<br>
				In'ça Swipe est fait pour toi !<br>
				Swipe à gauche pour passer ton chemin, swipe à droite pour tenter d'aller matcher !<br><br>
				Découvre ou redécouvre les INSAliens !<br>
			</p>

			<button mat-raised-button  (click)="loginWithGoogle()" class="google-login-btn">
			<img src="../../assets/images/google_logo.png" alt="logo Google" height="30px" class="imgButton">
				Connexion avec Google
			</button>
		</mat-card>
	</div>

</body>

