.mat-tab-group{
	border-radius: 8px;
	box-shadow: 2px 2px 5px 0 rgb(192, 191, 191);
}

.mat-card{
	@media (orientation : landscape) {
		width: 40%;
		border-width: 2px;
	}

	@media (orientation : portrait) {
		width: 80%;
		border-width: 1px;
	}

	border-color: #34c6bb;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	justify-content: center;
	text-align: center;
}

.image{
	display: block;
	margin-left: auto;
	margin-right: auto;

	@media (orientation : landscape) {
		width: 40%;
	}

	@media (orientation : portrait) {
		width: 70%;
	}
}
.mdp{
	background-color: transparent;
	border: none;
}

.mat-raised-button{
    box-shadow: 2px 2px 5px 0 rgba(24, 23, 23, 0.418);
}

.log{
	text-align: left;
	width: 90%;
	margin-left: 15%
}

.logbutton{
	text-align: center;
}

.imgButton{
	margin-right:8px;
	margin-bottom: 3px;
}

.mat-form-field {
	width: 80%;
}

.mat-radio-button {
	margin-right: 10px;
}

.mat-checkbox {
	margin-right: 10px;
}

.ngx-slider {
	width: 80%;
}

p{
	padding: 0px;
	padding-bottom: 0px ;
}

h1{
	font-size: 400%;
}
