.container {
  padding: 10px;
}

.grid-item {
  border-radius: 5px;
  width: 29vw;
  height: 29vw;
  margin: 5px auto;
  position: relative;
}

.add-photo-icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url(/assets/images/add_photo.svg);
  mask-image: url(/assets/images/add_photo.svg);
  width: 100%;
  height: 100%;
}

.empty {
  border: 2px dotted purple;
}

.empty>i {
  background-color: purple;
}

.empty:hover>i {
  background-color: #550055;
  transition: background-color 200ms linear;
}

.disabled {
  border: 2px dotted darkgrey;
}

.disabled>i {
  background-color: darkgrey;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 1%;
}

.number-button {
  position: absolute;
  top: 1%;
  left: 1%;
}

.file-input {
  display: none;
}

.upload-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
