body{
    /*background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: contain;
    background-position: center;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgb(163, 221, 221);
    color: white;
    font-family: "Lato", sans-serif;
    font-size: medium;
    font-weight: 300;
    width: 80%;
    position: relative;
    left:10%;
    height: 50%;
}
.content-wrapper{
    padding: 10px 30px;
    

}
a.bouton1 {
    background-color:rgb(90, 145, 74);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 10%;
    right: 15%;

}



/*body{
    background-color: aqua;
    p{
        position: fixed;
        right: 75%;
        bottom: 80%;
        font-size:larger ;
        }
    
}
    */


/*a.bouton1 {
    background-color:rgb(90, 145, 74);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 10%;
    right: 15%;

}

a.bouton2{
    background-color:rgb(177, 105, 155);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 10%;
    right: 80%;

}
a.bouton3{
    background-color:rgb(170, 100, 138);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 82%;
    right: 65%;

}

a.bouton4{
    background-color:rgb(170, 100, 138);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 82%;
    right: 55%;

}
a.bouton5{
    background-color:rgb(170, 100, 138);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 70%;
    right: 45%;

}

a.bouton6{
    background-color:rgb(170, 100, 138);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 70%;
    right: 65%;

}

a.bouton7{
    background-color:rgb(170, 100, 138);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 70%;
    right: 55%;

}
a.bouton8{
    background-color:rgb(170, 100, 138);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 82%;
    right: 45%;

}
::ng-deep {
    ngx-slider.slider1 {
        position: fixed;
        width: 40%;
        right: 30%;
        bottom: 58%;
        .ngx-slider-bar {
            background: #803369 !important;
        }
        .ngx-slider-pointer {
            background: #9c668c !important;
        }

    }
}
::ng-deep {
    ngx-slider.slider2 {
        position: fixed;
        width: 40%;
        right: 30%;
        bottom: 48%;
        .ngx-slider-bar {
            background: #803369 !important;
        }
        .ngx-slider-pointer {
            background: #9c668c !important;
        }
    }
}

p.genre{
    position: fixed;
    right: 75%;
    bottom: 80%;
    font-size:larger ;
}
p.orientation{
    position: fixed;
    right: 75%;
    bottom: 68%;
    font-size:larger ;
}
p.rayon{
    position: fixed;
    right: 75%;
    bottom: 58%;
    font-size:larger ;
}
p.age{
    position: fixed;
    right: 75%;
    bottom: 48%;
    font-size:larger ;
}
p.description{
    position: fixed;
    right: 75%;
    bottom: 38%;
    font-size:larger ;
}
h2.titre{
    position:fixed;
    right: 50%;
}
textarea{
    position:fixed;
    right:45%;
    bottom:33%;
} */