
<a class="bouton1">Valider</a>
<a class="bouton2">Apercu</a>
<a class="bouton3" style="color:white">Femme</a>
<a class="bouton4" style="color:white">Homme</a>
<a class="bouton5" style="color:white">Autre</a>
<a class="bouton6" style="color:white">Femme</a>
<a class="bouton7" style="color:white">Homme</a>
<a class="bouton8" style="color:white">Autre</a>

<ngx-slider class="slider1" [(value)]="value" [options]="options"></ngx-slider>
<ngx-slider
  class="slider2"
  [(value)]="minValue"
  [(highValue)]="maxValue"
  [options]="Options"
></ngx-slider>

<p class="genre" style="color:rgb(158, 70, 84);">Genre:</p>
<p class="orientation" style="color:rgb(158, 70, 84);">Orientation sexuelle:</p>
<p class="rayon" style="color:rgb(158, 70, 84);">Rayon de recherche:</p>
<p class="age" style="color:rgb(158, 70, 84);">Tranche d'âge:</p>
<p class="description" style="color:rgb(158, 70, 84);">Description:</p>
<h2 class="titre" style="color:rgb(160, 88, 88)">Prénom, âge </h2>

<textarea cols="50" rows="5" wrap="soft">Zone de texte!</textarea>





