a.bouton1 {
    background-color:red;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 10%;
    right: 10%;

}
a.bouton2{
    background-color:green;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    bottom: 10%;
    right: 80%;

}

ngx-slider {
    position: fixed;
    width: 50%;
    right: 20%;
    bottom: 45%;

}
  
     