.info {
	text-align: left;
	width: 90%;
	margin-left: 10%;

}

.mat-card {
	@media (orientation : landscape) {
		width: 40%;
		border-width: 2px;
	}

	@media (orientation : portrait) {
		width: 80%;
		border-width: 1px;
	}

	border-color: #34c6bb;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	justify-content: center;
	text-align: center;
	border-radius: 8px;

}

.logbutton {
	text-align: center;
}

.mat-form-field {
	width: 90%;
}

.mat-radio-button {
	margin-right: 10px;
}

.mat-checkbox {
	margin-right: 10px;
}

.ngx-slider {
	width: 90%;
}

.imgLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;

	@media (orientation : landscape) {
		width: 40%;
	}

	@media (orientation : portrait) {
		width: 70%;
	}
}

.font{
	color:#e70a7c;
	font-weight: bold;

	@media (orientation : landscape) {
		font-size: 40px;
	}
	@media (orientation : portrait) {
		font-size: 35px;
	}
	
}