<body>
	<div *ngIf="registerPage">
		<img class="imgLogo" src="../assets/images/Logo2.png" alt="Logo IN'ça Swipe">
	</div>
	
	<p></p>

	<mat-card>
		<div *ngIf="registerPage">
			<div class="font">Inscription</div>
		</div>
		<div *ngIf="!registerPage">
			<div class="font">Prénom, âge</div>
		</div>

		<p></p>
		
		<div class="info">
			<div *ngIf="registerPage">
				<div>Prénom</div>
				<mat-form-field appearance="fill" >
					<mat-label>Entrez votre prénom</mat-label>
					<input matInput required>
				</mat-form-field>
				
				<div>Date de naissance</div>
				<mat-form-field appearance="fill">
					<mat-label>MM/JJ/AAAA</mat-label>
					<input matInput [matDatepicker]="picker" required>
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			

			<div>Genre : *</div>
			<mat-radio-group required>
				<mat-radio-button value="1">Homme</mat-radio-button>
				<mat-radio-button value="2">Femme</mat-radio-button>
				<mat-radio-button value="3">Autre</mat-radio-button>
			</mat-radio-group>
			
			<h2></h2>

			<div>Attirance : *</div>
			<mat-checkbox>Homme</mat-checkbox>
			<mat-checkbox>Femme</mat-checkbox>
			<mat-checkbox>Autre</mat-checkbox>
			
			<h2></h2>

			<div>Rayon de recherche : {{sliderControl.value}} km </div>
			<ngx-slider [formControl]="sliderControl" [options]="options"></ngx-slider>
			
			<form [formGroup]="sliderForm">
				<div>Tranche d'âge recherchée : {{ sliderForm.value.sliderControl2[0] }} - {{ sliderForm.value.sliderControl2[1] }} ans</div>
				<ngx-slider [options]="options2" formControlName="sliderControl2"></ngx-slider>
			</form>
			
			<h2></h2>

			<div>Description</div>
			<mat-form-field class = "description" hintLabel="Max 300 characters" appearance="fill">
				<mat-label>Entrez votre description</mat-label>
				<textarea  rows="6" matInput #input maxlength="300"></textarea>
				<mat-hint align="end">{{input.value?.length || 0}}/300</mat-hint>
			</mat-form-field>

			<h2></h2>

			<div class="logbutton" *ngIf="registerPage">
				<button mat-raised-button color="accent">S'inscrire</button>
			</div>

			<div class="profilButton" *ngIf="!registerPage">
				<button mat-raised-button color="accent">Aperçu</button>
				<button mat-raised-button color="accent">Valider</button>
			</div>

		</div>
	</mat-card>
	
	<p> </p>
		
</body>